<a href="https://colab.research.google.com/github/tmiqueluzzi/car-sales-data-analysis/blob/main/notebooks/02_limpeza_transformacao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importações

In [1]:
import pandas as pd
import numpy as np

In [2]:
url = 'https://raw.githubusercontent.com/tmiqueluzzi/car-sales-data-analysis/refs/heads/main/data/raw/Car%20Sales.xlsx%20-%20car_data.csv'
df = pd.read_csv(url)
df.head()

,Car_id,Date,Customer Name,Gender,Annual Income,Dealer_Name,Company,Model,Engine,Transmission,Color,Price ($),Dealer_No,Body Style,Phone,Dealer_Region
0,C_CND_000001,1/2/2022,Geraldine,Male,13500,Buddy Storbeck's Diesel Service Inc,Ford,Expedition,DoubleÂ Overhead Camshaft,Auto,Black,26000,06457-3834,SUV,8264678,Middletown
1,C_CND_000002,1/2/2022,Gia,Male,1480000,C & M Motors Inc,Dodge,Durango,DoubleÂ Overhead Camshaft,Auto,Black,19000,60504-7114,SUV,6848189,Aurora
2,C_CND_000003,1/2/2022,Gianna,Male,1035000,Capitol KIA,Cadillac,Eldorado,Overhead Camshaft,Manual,Red,31500,38701-8047,Passenger,7298798,Greenville
3,C_CND_000004,1/2/2022,Giselle,Male,13500,Chrysler of Tri-Cities,Toyota,Celica,Overhead Camshaft,Manual,Pale White,14000,99301-3882,SUV,6257557,Pasco
4,C_CND_000005,1/2/2022,Grace,Male,1465000,Chrysler Plymouth,Acura,TL,DoubleÂ Overhead Camshaft,Auto,Red,24500,53546-9427,Hatchback,7081483,Janesville

# Tratamento

In [3]:
df.columns = (
    df.columns
    .str.strip()
    .str.lower()
    .str.replace(" ", "_")
)
df.columns

Index(['car_id', 'date', 'customer_name', 'gender', 'annual_income',
       'dealer_name', 'company', 'model', 'engine', 'transmission', 'color',
       'price_($)', 'dealer_no', 'body_style', 'phone', 'dealer_region'],
      dtype='object')

In [4]:
df['date'] = pd.to_datetime(df['date'])

In [5]:
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['month_name'] = df['date'].dt.month_name()

In [6]:
df.head()

,car_id,date,customer_name,gender,annual_income,dealer_name,company,model,engine,transmission,color,price_($),dealer_no,body_style,phone,dealer_region,year,month,month_name
0,C_CND_000001,2022-01-02,Geraldine,Male,13500,Buddy Storbeck's Diesel Service Inc,Ford,Expedition,DoubleÂ Overhead Camshaft,Auto,Black,26000,06457-3834,SUV,8264678,Middletown,2022,1,January
1,C_CND_000002,2022-01-02,Gia,Male,1480000,C & M Motors Inc,Dodge,Durango,DoubleÂ Overhead Camshaft,Auto,Black,19000,60504-7114,SUV,6848189,Aurora,2022,1,January
2,C_CND_000003,2022-01-02,Gianna,Male,1035000,Capitol KIA,Cadillac,Eldorado,Overhead Camshaft,Manual,Red,31500,38701-8047,Passenger,7298798,Greenville,2022,1,January
3,C_CND_000004,2022-01-02,Giselle,Male,13500,Chrysler of Tri-Cities,Toyota,Celica,Overhead Camshaft,Manual,Pale White,14000,99301-3882,SUV,6257557,Pasco,2022,1,January
4,C_CND_000005,2022-01-02,Grace,Male,1465000,Chrysler Plymouth,Acura,TL,DoubleÂ Overhead Camshaft,Auto,Red,24500,53546-9427,Hatchback,7081483,Janesville,2022,1,January

# Checagem e exportação

In [7]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23906 entries, 0 to 23905
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   car_id         23906 non-null  object
 1   date           23906 non-null  datetime64[ns]
 2   customer_name  23905 non-null  object
 3   gender         23906 non-null  object
 4   annual_income  23906 non-null  int64
 5   dealer_name    23906 non-null  object
 6   company        23906 non-null  object
 7   model          23906 non-null  object
 8   engine         23906 non-null  object
 9   transmission   23906 non-null  object
 10  color          23906 non-null  object
 11  price_($)      23906 non-null  int64
 12  dealer_no      23906 non-null  object
 13  body_style     23906 non-null  object
 14  phone          23906 non-null  int64
 15  dealer_region  23906 non-null  object
 16  year           23906 non-null  int32
 17  month          23906 non-null  int32
 18  month_name     23906 non-null  object
dtypes: datetime64[ns](1), int32(2), int64(3), object(13)
memory usage: 3.3+ MB

,date,annual_income,price_($),phone,year,month
count,23906,2.390600e+04,23906.000000,2.390600e+04,23906.000000,23906.000000
mean,2023-03-01 14:28:10.822387456,8.308403e+05,28090.247846,7.497741e+06,2022.554714,7.852924
min,2022-01-02 00:00:00,1.008000e+04,1200.000000,6.000101e+06,2022.000000,1.000000
25%,2022-09-20 00:00:00,3.860000e+05,18001.000000,6.746495e+06,2022.000000,5.000000
50%,2023-03-13 00:00:00,7.350000e+05,23000.000000,7.496198e+06,2023.000000,9.000000
75%,2023-09-08 00:00:00,1.175750e+06,34000.000000,8.248146e+06,2023.000000,11.000000
max,2023-12-31 00:00:00,1.120000e+07,85800.000000,8.999579e+06,2023.000000,12.000000
std,NaN,7.200064e+05,14788.687608,8.674920e+05,0.497008,3.257985

In [10]:
df.to_csv("car_sales_clean.csv", index=False)